.title {
    text-align: center;
    background-color: gray;
}
#main {
    border-style: solid;
    border-color: gray;
    color: black;
    margin: auto;
    height: 500px;
}

#navGround {
    background-color: lightgrey;
    padding: 10px;
}
#bottom {
    border-style: solid;
    border-color: gray;
    color: black;
    margin: auto;
    height: 200px;
}

